{{define "footer"}}
<footer class="container-xl mb-10 mt-10 p-3 m:p-2 l:p-5" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="visually-hidden">Site footer</h2>
  <hr />
  <div class="grid top-align mt-5">
    <div class="s12 l6">
      <a href="/" aria-label="specd home">
        <img class="logo-light" alt="" width="60" src="/logo.svg" />
        <img class="logo-dark" alt="" width="60" src="/logo-dark.svg" />
      </a>
      <p class="mt-3">
        Stackific Inc. is a software engineering practice focused on making AI genuinely useful. Stackific builds own products, works with startups and enterprises for shaping the AI architectures and implementation and AI engineering efficiency. Stackific also teaches real insight from work through <a href="https://stackdemy.com" target="_blank">Stackdemy</a>, their technical education platform.
      </p>
    </div>
    <nav class="s12 l6 mt-5 l:mt-0" aria-label="Footer">
      <div class="grid lh-5">
        <div class="s4">
          <h3 class="text-2 fw-7">Social</h3>
          <ul class="p-0 mt-2" role="list">
            <li>
              <a class="link" href="https://github.com/stackific/specd" target="_blank" rel="noopener noreferrer">
                GitHub
              </a>
            </li>
          </ul>
        </div>
        <div class="s4">
          <h3 class="text-2 fw-7">Learn</h3>
          <ul class="p-0 mt-2" role="list">
            <li>
              <a class="link" href="https://stackdemy.com" target="_blank" rel="noopener noreferrer">
                Stackdemy
              </a>
            </li>
          </ul>
        </div>
        <div class="s4">
          <h3 class="text-2 fw-7">Legal</h3>
          <ul class="p-0 mt-2" role="list">
            <li><a class="link" href="https://stackific.com/privacy">Privacy Policy</a></li>
            <li><a class="link" href="https://stackific.com/terms">Terms of Service</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</footer>
{{end}}
